.photo-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .photo-list-item {
    justify-content: center;
    margin: 10px;
    position: relative;

    .image {
      opacity: 1;
    }

    .overlay {
      opacity: 0;
      top: 25%;
      position: absolute;
      text-align: center;
    }

    &:hover {

      .overlay {
        opacity: 1;
      }

      .image {
        opacity: 0.4;
      }
    }

    .title {
      font-size: 10px;
      color: black;
      opacity: 1;
      width: 150px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .view-button {
      font-size: 10px;
      padding: 2px;
      margin-top: 8px;
    }
  }
}

.loading {
  position:fixed;
  top: 50%;
  left: 50%;
}

.photo-modal {
  min-width: 632px;
  max-width: 632px;

  .modal-header {
    display: inline;
  }
}

