.photo-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .photo-list-item {
    justify-content: center;
    margin: 5px;
    position: relative;

    .image {
      opacity: 1;
    }

    .overlay {
      opacity: 0;
      top: 40%;
      position: absolute;
    }

    &:hover {

      .overlay {
        opacity: 1;
      }

      .image {
        opacity: 0.4;
      }
    }

    .title {
      font-size: 10px;
      color: black;
      opacity: 1;
      text-align: center;
      width: 140px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.loading {
  position:fixed;
  top: 50%;
  left: 50%;
}

